<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <form action="register" method="post">
    {% csrf_token %}
    Enter first name <input type="text" placeholder="First name" name="firstname"><br>
    Enter lastt name <input type="text" placeholder="Last name" name="lastname"><br>
    Enter user name  <input type="text" placeholder="User name" name="username"><br>
    Enter email      <input type="email" placeholder="Email" name="email"><br>
    Enter password   <input type="password" placeholder="Password" name="password"><br>
    Confirm password <input type="password" placeholder="Password" name="confirmpassword"><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>